@font-face {
  font-family: 'gilroyLight';
  src: url('Fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Apex';
  src: url('Fonts/ApexMk3-Medium.otf') format('opentype');
}

h1, 
a,
h2,
h3 {
  font-family: 'Apex', sans-serif;
}

p, label {
  font-family: 'gilroyLight', Tahoma;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F1924;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF401F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DCE0D9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero{
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(rgba(12,3,51,0.3),rgba(12.3.51.0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

nav .logo{
  width: 150px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  position: relative;
  text-decoration: none;
  color: #DCE0D9;
  font-size: 20px;
  transition: color 0.5s; 
  padding: 6px 20px;
}

nav ul li a:hover {
  color: #FF401F; 
}

nav ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid #FF401F;
  border-radius: 15px;
  transform: scale(1) translateY(50px);
  opacity: 0;
  transition: 0.5s;
}

nav ul li a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

.discord{
  text-align: center;
  margin-top: 700px;
}

.discord a{
  text-decoration: none;
  display: inline-block;
  color: #FF401F;
  font-size: 24px;
  border: 2px solid #FF401F;
  padding: 10px 30px;
  border-radius: 50px;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #0F1924;
}

.discord a:hover {
  background-color: #DCE0D9;
  color: #FF401F; 
  border-color: #FF401F;
}

.bg-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media(min-aspect-ratio: 16/9){
  .bg-video{
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio: 16/9){
  .bg-video{
    width: auto;
    height: 100%;
  }
}

.about-us {
  background: #0F1924; 
  color: #DCE0D9; 
  padding: 40px;
  text-align: center;
}

.about-us h1 {
  font-size: 28px;
  margin-bottom: 1em;
  margin-top: 2em;
  text-transform: uppercase;
  color: #FF401F;
  /* font-family: 'Apex', sans-serif; */
}

.about-line{
  width: 80%;
  height: 4px; 
  background-color: #FF401F;
  margin-left: 10%;
  margin-bottom: 2em; 
}

.about-us p {
  font-size: 18px;
  margin-bottom: 20px;
  /* font-family: 'gilroy', sans-serif; */
}

.about-us p a{
  text-decoration: none;
  color: #FF401F;
}

.about-us h2 {
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  margin-top: 4em;
  margin-bottom: 2em;
  color: #FF401F;
}

.about-us .video-container {
  position: relative;
  padding-bottom: 56.25%; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: -10em;
}

.about-us .video-container iframe {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 0;
  border-radius: 20px;
  border-style: solid;
  border-color: #DCE0D9;  
}

.afteraboutus-line{
  width: 85%;
  height: 4px; 
  background-color: #DCE0D9;
  margin-left: 7.5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*Announcements*/
.announcements {
  text-align: center;
  padding: 10px;
  background: #0F1924;
}

.announcements h1 {
  font-size: 2rem;
  margin-bottom: 0em;
  color: #FF401F;
  text-transform: uppercase;
}

.cards {
  padding: 50px 10%; 
}

.crt-select-post-body, .crt-post-username > a {
  font-family: gilroyLight !important;
}


/*Calendar*/

.event-calendar {
  background: #0F1924;
  text-align: center;
  padding: 20px;
}

.event-calendar h2 {
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 20px;
  color: #FF401F;
  text-transform: uppercase;
}

.calendar-line {
  width: 70%;
  height: 4px; 
  background-color: #FF401F;
  margin: 20px auto; 
}

.event-calendar img {
  width: 80%;
  max-width: 1000px;
  height: auto;
  border: 4px solid #FF401F;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.event-calendar p{
  font-size: 1em;
  color: #DCE0D9;
  margin-top: 0.5em;
  margin-right: 35em;
  font-style: italic;
}

/*ROSTERS*/

.rosters{
  background-color: #0F1924;
  padding-top: 100px;
  padding-bottom: 25px;
}

.rosters h1{
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FF401F;
  display: flex;
  justify-content: center;
  margin-top: 0em;
  text-transform: uppercase;
}

.roster-line{
  width: 60%;
  height: 4px; 
  background-color: #FF401F;
  margin-bottom: 2.5em;
  margin-left: 20%;
}

.rosters p{
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #DCE0D9;
  margin-bottom: 1em;
}

.rosters h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FF401F;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  text-transform: uppercase;
}

.slider{
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border-style: solid;
  border-color: #FF401F;
}

.list{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #393A39;
  color: #DCE0D9;
  border: none;
  /* font-family: monospace; */
  font-weight: bold;
}

.dots{
  position: absolute;
  bottom: 10px;
  color: #DCE0D9;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #DCE0D9;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active{
  width: 30px;
}

@media screen and (max-width: 768px){
    .slider{
      height: 400px;
    }
}

.afterroster-line{
  width: 85%;
  height: 4px; 
  background-color: #DCE0D9;
  margin-left: 7.5%;
  margin-top: 7em;
}

/*Image Gallery*/

.galleryHeading{
  background: #0F1924;
}

.galleryHeading h2{
  font-size: 2rem;
  color: #FF401F;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 2em;
  padding-top: 2em;
}

.gallery{
  height: 60%;
  width: 100%;
  display: flex;
  margin: auto ;
  padding-left: 10em;
  padding-right: 10em;
  box-sizing: border-box;
  background: #0F1924;
}

.image-box{
  margin-top: 1%;
  margin-bottom: 1%;  
  margin-left: 1%;
  margin-right: 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: .5s;
  background: #0F1924;
}

.image-box img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  transition: .5s;
}

.image-box:hover{
  flex-basis: 50%;
}

.active{
  flex-basis: 50%;
}

.gallery:hover .active{
  flex-basis: 0;
}

.image-box:nth-child(1):hover{
  flex-basis: 50%;
}

.aftergallery-line{
  width: 85%;
  height: 4px; 
  background-color: #DCE0D9;
  margin-left: 7.5%;
  margin-top: 6em;
  margin-bottom: 8em;
}

/*How to Join*/

.howtojoin{
  background: #0F1924; 
  color: #DCE0D9; 
  padding: 40px;
  text-align: center;
}

.howtojoin h2{
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #FF401F;
}

.afterjoin-line{
  width: 85%;
  height: 4px; 
  background-color: #DCE0D9;
  margin-left: 7.5%;
  margin-top: 7em;
}

/* Thanks Section */

.donorHeadings{
  background: #0F1924;
}

.donorHeadings h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  padding-top: 2em;
  color: #FF401F;
  background: #0F1924;
}

.donorHeadings h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: 2em;
  color: #FF401F;
  background: #0F1924;
}

.donors {
  background: #0F1924;
  display: flex;
  justify-content: space-between;
}

#accordion {
  margin: auto;
  width: 600px; 
  background: #0F1924;
}

.left-section {
  margin-left: 220px; 
}

.right-section {
  margin-right: 220px; 
}

#accordion li {
  list-style: none;
  width: 100%;
  background: #0F1924;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: #FF401F;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #FF401F;
  text-transform: uppercase;
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: #FF401F;
  font-weight: bold;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  font-weight: 400;
  color: #DCE0D9;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

#accordion input[type="radio"]:not(:checked)+.content {
  max-height: 0;
}


/* Footer */
footer {
  background-color: #0F1924;
  padding-top: 3em;
}

.footerContainer {
  width: 100%;
  height: 7.5em;
  padding: 20px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: flex-end; 
  margin-right: 25em;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #DCE0D9;
  margin-right: 2em;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 1.5em;
  color: #0F1924;
  opacity: 0.9;
}

/* Hover effects on icons */
.socialIcons a:hover {
  background-color: #FF401F;
  transition: 0.5s;
}

.socialIcons a:hover i {
  color: #DCE0D9;
  transition: 0.5s;
}

.footerBottom {
  background-color: #0F1924;
  padding: 20px 0px 20px;
  display: flex;
  align-items: center;
}

.footerBottom p {
  color: #DCE0D9;
  margin-left: 25em;
  margin-top: -5em;
  flex-grow: 1; /* Allow p to take remaining space */
}








